body {
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 50px;
}

main {
    display: flex;
}

.entrada {
    width: 50%;
    margin: 20px 100px;
}

.inputPadrao {
    padding: 10px 10px 5px 10px;
    width: 500px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;   
    font-size: 20px;
    text-align: left;
}

.botoes {
    position: absolute;
    top: 550px;
}

.codificar {
    background: #0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    color: white;
    border-color: white;
    font-size: 22px;
    transition: 500ms;
}

.codificar:hover {
    background: #EEEEEE;
    border-color: #0A3871;
    color: #0A3871;
}

.descodificar {
    position: relative;
    left: 40px;
    margin: 10px;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    background: #EEEEEE;
    border-color: #0A3871;
    color: #0A3871;
    font-size: 22px;
    transition: 500ms;
}

.descodificar:hover {
    background: #0A3871;
    border-color: white;
    color: white;
}

.saida {
    width: 50%;
    margin: 20px auto;
}

.retangulo {
    position: relative;
    left: 200px;
    top: -50px;
    width: 350px;
    height: 600px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 20px black;
}

.meninoImagem {
    width: 70%;
    position: relative;
    top: 100px;
    left: 60px;
}

.texto1 {
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 16px;
    font-weight: bold;
}

.texto2 {
    text-align: center;
    position: relative;
    font-size: 16px;
    top: 165px;
}

.copiar {
    position: absolute;
    left: 60px;
    top: 500px;
    margin: 20px;
    border-radius: 24px;
    width: 200px;
    height: 60px;
    background: #0A3871;
    border-color: white;
    color: white;
    font-size: 20px;
    transition: 500ms;
}

.copiar:hover {
    background: #EEEEEE;
    border-color: #0A3871;
    color: #0A3871;
}
